* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #0a1f44;
  --red: #e01705;
  --white: #ffffff;
  --whitesmoke: #f8f8f8;
  --gold: #ffe200;
  --grey: #d3d3d3;
  --green: #008000;
}
.navbar {
  background-color: rgba(128, 128, 128, 0.5);
}
.nav-link {
  font-size: 1.2rem;
  font-family: sans-serif;
}
.banner {
  margin: 100px 0 50px;
}

.banner-content h1 {
  color: var(--blue);
  font-weight: 900;
  font-family: sans-serif;
  font-size: 2.5rem;
}
.banner-content h1 span {
  color: var(--red);
}
.banner-content p {
  font-size: 1.2rem;
}

.btn {
  border-radius: 20px;
  transition: transform 1.5s;
}
.btn:hover {
  transform: scale(1.1);
}
.btn-red {
  background-color: var(--red);
}
.btn-blue {
  background-color: var(--blue);
}

.heading {
  text-align: center;
  padding: 60px 0 40px;
}
.heading .red,
.heading span {
  color: var(--red);
}
.heading h2 {
  color: var(--blue);
  font-weight: bold;
  font-size: 2.3rem;
}
.heading p {
  width: 70%;
  margin: 0 auto;
}

.why-choose-us {
  width: 100%;
  background-color: var(--whitesmoke);
  padding-bottom: 50px;
}
.why-choose-icons h3 {
  font-weight: bold;
  font-size: 1.2rem;
}
.why-choose-icons p {
  font-size: 1.2rem;
}
.whychoose-img2 {
  background-image: url("../images/img-2.png");
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.why-choose-icons .icon i,
.feature-icon i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  border: 1px solid var(--red);
  color: var(--red);
  font-size: 1.5rem;
  background-color: var(--white);
}

.whychoose-box-3 .why-choose-content {
  margin-left: 20px;
}
.feature-icon:hover {
  background-color: var(--red);
  color: white;
}

.testmonials {
  background-color: var(--whitesmoke);
}
.userprofile img {
  border: 5px solid var(--white);
}
.userprofile .content i {
  color: var(--gold);
  font-size: 10px;
}
.userprofile {
  width: 300px;
  margin: 50px 20px;
  text-align: center;
  background-color: var(--white);
  padding: 10px 20px;
  position: relative;
  border: 1px solid var(--grey);
}
.userprofile .image {
  position: absolute;
  top: -50px;
  left: 85px;
  border: 2px solid var(--grey);
  border-radius: 50%;
}
.userprofile .content {
  margin-top: 60px;
}
.quote {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  background-color: var(--red);
  color: var(--white);
  position: absolute;
  bottom: -25px;
  left: 120px;
}
.pricing {
  padding-bottom: 50px;
}
.pricing-left {
  background-color: var(--red);
  color: var(--white);
}
.pricing-left i {
  font-size: 0.7rem;
  color: var(--gold);
}
.pricing-left img {
  border: 5px solid var(--whitesmoke);
}
.pricing-box {
  /* height: 85vh; */
  margin-bottom: 50px;
}
.pricing-right {
  border: 2px solid var(--red);
  text-align: center;
  background-color: var(--whitesmoke);
}
.pricing-right del {
  font-size: 2rem;
}
.del-ins .btn-offer {
  background-color: var(--red);
  padding: 0 20px;
}
.pricing-right .blue {
  color: var(--blue);
  font-weight: bold;
}
.pricing-right .checkicons {
  width: 200px;
  margin: 0 auto;
  font-size: 1.2rem;
}
.pricing-right .checkicons i {
  color: var(--green);
}
.pricing-right .btn-red {
  background-color: var(--red);
  padding: 5px 75px;
  margin: 20px 0;
}
/*
.feature-icon:hover i {
  background-color: var(--white);
} */
